---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Projects',
};
---

<Layout metadata={metadata}>
  <section class="max-w-3xl mx-auto py-16 px-4 text-center">
    <h1 class="text-4xl font-bold mb-4">🚧 Projects Coming Soon 🚧</h1>
    <p class="text-lg text-gray-600 dark:text-gray-300">
      We’re still working hard (and sometimes playing games) while cooking up our projects. Check back later to see what
      we’ve been building!
    </p>
  </section>
</Layout>
