---
// src/components/Logo.astro
---

<a href="/" class="logo-link">
  <img class="logo-light" src="/assets/Ki10_LOGO.png" alt="Ki10 Games Logo" width="180" height="60" />
  <img class="logo-dark" src="/assets/Ki10_LOGO_Light.png" alt="Ki10 Games Logo" width="180" height="60" />
</a>

<style>
  /* By default, show the light-mode logo and hide the dark-mode one */
  .logo-dark {
    display: none;
  }
  .logo-light {
    display: block;
  }

  /* When the .dark class is active on the site, do the opposite */
  :root.dark .logo-dark {
    display: block;
  }
  :root.dark .logo-light {
    display: none;
  }
</style>
